{
    type: '<%type%>',
    name: '<%name%>',
    data: <%data%>,
    marker: {
        enabled: <%marker%>,
        radius: 4
    },
    states: {
        hover: {
            lineWidth: 0
        }
    },
    enableMouseTracking: <%mousetracking%>
},