@using System.Linq;
@using Highcharts
@using webapp.wwwroot.models

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Statistics</h1>

    <div class="form-inline">
        <div class="form-group">
            <label for="dataA">Data A:</label>
            <select class="form-control" id="dataA">
                @foreach (var value in Enum.GetValues(typeof(Stud)))
                {
                    <option value=@value>@value.ToString()</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="dataB">Data B:</label>
            <select class="form-control" id="dataB">
                @foreach (var value in Enum.GetValues(typeof(Stud)))
                {
                    <option value=@value>@value.ToString()</option>
                }
            </select>
        </div>
        <div class="checkbox">
            <ul style="list-style: none;">
                <li>
                    <label><input id="kmeans" type="checkbox"> Kmeans</label>
                </li>
                <li>
                    <label><input id="dbscan" type="checkbox"> Dbscan</label>
                </li>
                <li>
                    <label><input id="simpleregression" type="checkbox"> Linear Regression</label>
                </li>
                <li>
                    <label><input id="polynomialregression" type="checkbox"> Polynomial Regression</label>
                </li>
                <li>
                    <label><input id="pearsoncorr" type="checkbox"> Pearson Correlation</label>
                </li>
                <li>
                    <label><input id="spearmancorr" type="checkbox"> Spearman Correlation</label>
                </li>
                <li>
                    <label><input id="knearest" type="checkbox"> Knearest Classification</label>
                </li>
                <li>
                    <label><input id="naivebayes" type="checkbox"> Naive Bayes Classification</label>
                </li>

            </ul>
        </div>
        <button onclick="getGraph()" class="btn btn-default">+</button>
    </div>




    <div id="plotkmeans" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

    <script src="~/lib/highcharts/highcharts.js"></script>
    <script>
        function getGraph() {
            var dataA = $("#dataA").val();
            var dataB = $("#dataB").val();
            var kmeans = $('#kmeans').is(':checked');
            var dbscan = $("#dbscan").is(':checked');
            var linearregression = $("#simpleregression").is(':checked');
            var polynomialregression = $("#polynomialregression").is(':checked');
            var pearsoncorrelation = $("#pearsoncorr").is(':checked');
            var spearmancorrelation = $("#spearmancorr").is(':checked');
            var knearest = $("#knearest").is(':checked');
            var naivebayes = $("#naivebayes").is(':checked');
            $.ajax({
                type: "POST",
                url: "/Home/CreateGraph",
                data: {
                    DataA: dataA,
                    DataB: dataB,
                    Kmeans: kmeans,
                    Dbscan: dbscan,
                    Linearregression: linearregression,
                    polynomialregression: polynomialregression,
                    pearsoncorrelation: pearsoncorrelation,
                    spearmancorrelation: spearmancorrelation,
                    knearest: knearest,
                    naivebayes: naivebayes
                },
                dataType: 'text',
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Request: " +
                        XMLHttpRequest.toString() +
                        "\n\nStatus: " +
                        textStatus +
                        "\n\nError: " +
                        errorThrown);
                },
                success: function(result) {
                    $("#graphs").prepend(result);
                }
            });
        }
    </script>

    <script id="graphs"></script>
</div>
