@using System.Linq;
@using Clustering
@using Data
@using Highcharts

@{
    ViewData["Title"] = "Home Page";
}

@{
    var gradedStudents = Students.students.Where(x => x.Grade > 0);

    foreach (var student in gradedStudents)
    {
        student.Filter();
    }

    var data = new DataSet(gradedStudents.Select(x => x.ToGenericVector()).ToList());

    var d = new Dbscan(50, 3, data);
    var k = new Kmeans(4, 100, data);
    d.Run();
    k.Run();
}

<div class="row">
    <h1>Statistics</h1>
    <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

    <script src="~/lib/highcharts/highcharts.js"></script>
</div>


@{
    var dataseries = new DataSeries("scatter", data, "ScatterPlot");
    var plot = new Chart();
    plot.Set("chart", "scatter");
    plot.Set("title", "Test");
    plot.AddDataSeries(dataseries);
}
@Html.Raw(plot.CreateTemplate())